<%- include("template/cabecera", {tituloWeb: 'Error 404'}) %>
<h1>Página no encontrada</h1>
<p><%= descripcion %></p>
<a href="/" class="btn btn-primary">Volver al Inicio</a>
<%- include("template/footer") %>
